body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#assistant-avatar {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 1000;
}

 svg {
      width: 200px;
      height: 200px;
      transition: all .1s linear;
    }
    #mouth {
      transition: rx 0.1s, ry 0.1s;
    }